<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295688042872-jvh1vj1cqegag49gvoslrlkhimq42544.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295688042872-jvh1vj1cqegag49gvoslrlkhimq42544</string>
	<key>API_KEY</key>
	<string>AIzaSyDXz3l_zXTtZReguHRiJzVm8v1RHFMVZds</string>
	<key>GCM_SENDER_ID</key>
	<string>295688042872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artkln.RuTravel</string>
	<key>PROJECT_ID</key>
	<string>rutravel-349221</string>
	<key>STORAGE_BUCKET</key>
	<string>rutravel-349221.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295688042872:ios:68e7513bd99d292c48708d</string>
</dict>
</plist>